title = "About"
url = "/"
layout = "default"
==

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>About</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <p>I have well over a decade's worth of experience in the end to end project management process for both
                digital and technical projects. I have built 2 successful analytics teams in financial services and
                have over 8 years' worth of hands-on experience in complex data analysis. I have over 5 years' worth of
                commercial Full Stack & Backend Software Engineering experience in a variety of languages and
                technologies, such as PHP, Laravel, JavaScript, Vue.js, T-SQL, MySQL, Visual Basic.Net etc...
            </p>
        </div>
        <div class="col-lg-4">
            <p>I am currently available for part-time freelance work. If you're looking for an experienced technology
                expert that is able to plan and communicate an idea into a well designed solution to your personal or
                business need, please complete the <a href="#contact" style="color: grey">Contact Form</a> below and I
                will get back to you as soon as I can.
            </p>
            <p>For more information on projects I have recently been working on, please see a non-exhaustive list of
                my projects at <a href="#portfolio" style="color: grey">Portfolio</a> above.
            </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="#" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download my CV
            </a>
        </div>
    </div>
</div>
