title = "About"
url = "/"
layout = "default"
==

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>About</h2>
            <hr class="star-light">
            <img class="img-responsive" src="{{ 'assets/images/safrique.jpg'|theme }}" alt=""
                 style="border-radius: 50%; max-width: 23%; display: block; margin-left: auto; margin-right: auto;">
        </div>
    </div>
    <div class="row" style="margin-top: 2em">
        <div class="col-lg-4 col-lg-offset-2">
            <p>My name is Josef van Niekerk. I am a Full Stack Web and Backend Software Developer with a decade's
                worth of software engineering, data analysis and end to end project management experience. I also hold a
                Master's degree in Mathematical Finance and a Bachelor's degree in Operations Research & Business
                Management.
            </p>
            <p>I have over 5 years' worth of commercial Full Stack & Backend
                Software Development experience in a variety of languages and technologies, including PHP, Laravel,
                JavaScript, Vue.js, T-SQL, MySQL, Visual Basic.Net etc...
        </div>
        <div class="col-lg-4">
            <p>I have also built 2 successful analytics teams in financial services and have over 8 years' worth of
                hands-on experience in complex data analysis. During this time I have designed and maintained
                multiple databases in both SQL Server & MySQL.
            </p>
            <p>I am currently on the hunt for a new full time role or contract work, and I am also available for
                part-time freelance work. If you're looking for an experienced technology expert that is able to plan,
                communicate and build an idea into a well designed solution to your personal or business need, please
                complete the <a href="#contact" style="color: grey">Contact Form</a> below.
            </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="#" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download my CV
            </a>
        </div>
    </div>
</div>
